@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

body {
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

#navbar__logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
}

.nav__option {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #344563;
}

#front-page {
  background-image: url("./visuals/header-background-desktop.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-bottom-left-radius: max(10vw, 100px);
  height: 94vh;
}

.text-container__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.38px;
}

.text-container__byline {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-media_icon {
  height: 20px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  border: 2px solid #a7aeff;
}

.card-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.card-subtitle {
  color: #6b778c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio__client {
  color: #344563;
  font-weight: 500;
}

.portfolio__bullet {
  font-size: 20px;
  color: #c1c7d0;
}

.badge {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: #ebebff;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}